*.a
*.dll
*.dylib
*.exe
*.lib
*.lst
*.makedep
*.mod
*.o
.buildConfig.*
.buildStarted
Archive
all/*.c
all/*.es
all/*.h
bin/angel
bin/ejs*
bin/http
bin/jem
bin/makerom
build/bin/buildConfig.sh
build/bin/dsi
build/bin/edep
build/bin/getpath
buildConfig.make
extensions
lib/*.so
lib/ejsweb.conf
lib/lib*.0
lib/mime.types
projects/MACOSX/*/*/*.mode1v3
projects/MACOSX/*/*/*.pbxuser
projects/MACOSX/*/*/*.perspectivev3
projects/MACOSX/*/build
src/compiler/test/t.es
src/core/test/t.es
src/include/buildConfig.h
src/jems/ejs.db/test/test.sdb
modules/*.so
lib/*.so
src/test/t.es
build/bin/api-diff
*.pdb
*.obj
*.exp
bin/*.def
bin/mime.types
src/jems/ejs.db.mapper/test/test.sdb
lib/www
lib/startup.es
src/test/web/junk
lib/start.es
*.swp
*.manifest
src/core/test/d.es
src/core/test/socket.es
src/core/test/tt.es
src/jems/ejs.mvc/sample/
src/test/reserved.es
src/test/web/controller.es
src/test/web/custom.js
src/test/web/hello.es
src/test/web/index.ejs
src/test/web/request.ejs
src/test/web/request.es
src/test/web/samples.es
doc/api/ejs/xml
doc/api/ejs/html
staging
src/jems/tmp
*.jem
releases/*.gz
releases/*.gz.txt
releases/*.dmg
releases/*.zip
releases/*.zip.txt
releases/*.dmg.txt
jlocal
bin/x86_64*
src/jems/sample
releases/*.deb
all/*.gz
all/pack
releases/*.tgz
*.user
*.ncb
*.suo
Win32
bin/www
bin/start.es
bin/jem.cmd
src/include/buildConfig.save
tmp
src/core/test/http/ejs.log
mvc
projects/eclipse
bin/mvc.cmd
ejs.log
projects/MACOSX/*/*/xcuserdata
projects/MACOSX/*/*/project.xcworkspace
src/jems/ejs.db.mapper/Model.nes
src/jems/ejs.web/test/t.es
src/include/ejs*.slots.h
*/x86_64-pc-win
bin/.kdbgrc.*
*/i386-wrs-vxworks
out
*.sdf
www.archive
future
SAVE
src/jems/ejs.web/test/table
src/jems/ejs.web/test/view/TODO
src/core/test/http/.pidfile
*.tdat
.pidfile
samples/c/*/main
