.publisher
*.mod
*.sdb
.*.swp
*.tmp
*.dylib
*.tdat
/projects/.*.guid
project.guid
access.log
/build/
/start.me

projects/*mine*
projects/.flags
*.o
*.obj
main

src/compiler/test/bugs/
src/core/src/dtoa.original
src/ejs.zlib/ejsZlib.miniz
.gitattributes
xcuserdata/
*.xcworkspace/
src/core/test/path/out
src/core/test/t.es
