*.o
*.makedep
*.dll
*.a
*.lib
.buildConfig.*
.buildStarted
buildConfig.make
*.dylib
*.exe
src/include/buildConfig.h
build/bin/buildConfig.sh
extensions
Archive
*.mod
*.lst
bin/ejs*
bin/makerom
build/bin/dsi
build/bin/edep
build/bin/getpath
lib/ejsweb.conf
lib/mime.types
bin/angel
bin/http
bin/jem
