<h1><%= (post.id) ? "Edit" : "Create" %> Post</h1>

<% form("update", post) %>

    <table border="0">
    <% for each (name in Post.columnNames) {
        if (name == "id") continue
        uname = name.toPascal()
    %>
        <tr><td>@@uname</td><td><% input(name) %></td></tr>
    <% } %>
    </table>

    <% button("OK", "commit") %>
    <% button("Cancel", "commit") %>
    <% if (post.id) button("Delete", "commit") %>
<% endform() %>
