<html>
<head><title>Ejscript Page</title></head>
<body>
<% 	
    print("Sleeping 10 seconds .. " )
    write("Sleeping 10 seconds .. " )
    App.run(10 * 1000, true)
    write("Awake")
    print("Awake")
%>
</body>
</html>

