{
    name: "mypackage",
    version: "0.7.0",
    description: "Sample package for CommonJS. This package demonstrats the required elements of a CommonJS package.",
    keywords: [
        "package",
        "example",
    ],
    maintainers: [{
        name: "Bill Smith", 
        email: "bills@example.com",
        web: "http://www.example.com", 
    }],
    contributors: [
        {
            name: "Mary Brown",
            email: "maryb@embedthis.com",
            web: "http://www.embedthis.com",
        },
    ],
    bugs: {
        //  MOB -- CommonJS issue: should be hash with a type for consistency
        mail: "dev@example.com",
        web: "http://www.example.com/bugs",
    }
    licenses: [
        {
            type: "GPLv2", 
            url: "http://www.example.org/licenses/gpl.html"
        },
    ],
    location: [
        {
            type: "git", 
            url: "http://hg.example.com/mypackage.git"
        },
    ],
    signature: {
        md5: "719ea61444a0bd34c9cf7454227a2e5c",
    },
    dependencies: [
        //  MOB -- or "ejs", "== 1.0.0"
        [ "ejs", "1.0.0", "2.0" ],
    ],
    implements: ["CommonJS/Modules/1.1", "CommonJS/JSGI/1.0"],
    os: ["linux", "macos", "win"]
    cpu: [],
    engines: ["v8", "ejs", "node", "rhino"],
    scripts: {
        install: "install.es",
        uninstall: "uninstall.es",
        build: "build.es",
        test: "test.es",
    },
    directories: {
        lib: "src/lib",
        bin: "local/binaries",
        test: "test",
    },
}
