{
    name: "mypackage",
    version: "0.7.0",
    description: "Sample package for CommonJS. This package demonstrats the required elements of a CommonJS package.",
    keywords: [
        "package",
        "example",
    ],
    maintainuer: {
        name: "Bill Smith", 
        email: "bills@example.com",
        web: "http://www.example.com", 
    ],
    contributors: [
        {
            name: "Mary Brown",
            email: "maryb@embedthis.com",
            web: "http://www.embedthis.com",
        },
    ],
    bugs: {
        mail: "dev@example.com",
        web: "http://www.example.com/bugs",
    }
    license: [
        {
            kind: "GPLv2", 
            url: "http://www.example.org/licenses/gpl.html"
        },
    },
    location: [
        {
            kind: "git", 
            url: "http://hg.example.com/mypackage.git"
        },
    ]
    signature: {
        md5: "719ea61444a0bd34c9cf7454227a2e5c",
    },
    dependencies: [
        [ "ejs", "1.0.0", "2.0" ],
    ],
    implements: ["cjs-module-0.3", "cjs-jsgi-0.1"],
    os: ["linux", "macos", "win"]
    cpu: "*",
    engines: ["v8", "ejs", "node", "rhino"],
    scripts: {
        install: "install.es",
        uninstall: "uninstall.es",
        build: "build.es",
        test: "test.es",
    },
    directories: {
        lib: "src/lib",
        bin: "local/binaries",
    },
}

- Author array
- versions can omit upperkk


====

- author/contributors converted to hash: name, email, web
- Checksums => signatures. Converted to hash
- bugs converted to hash
- removed builtin
- remove categories
- rename conforms to implements
- licenses converted to hash
- Consider hash for versions

-----
maintainer

Reserved: using, build, imports
Scripts: add test
checksum: only when package.json is outside package 
change "kind" to "type" in license.

-----

soup, ham, loaf multi-oat bread

[ "ejs", "1.0.0", "2.0" ],

"name", "1"         2
"name", "1.0"       2
"name", "1.0.1"     2
