<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ejs.tar.mod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ejs.web.mod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ejs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ejsc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ejsmod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ejsrun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>install-roots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>libejs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>libhttp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>libpcre.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>mvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>utest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>watchdog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>058462030584850E00000006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000000D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000001A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000002F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000003C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000004F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000057</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000005B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000005F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000008D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000008E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000017A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000017E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000018A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000018C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000018E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000019A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000001CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000001DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000001E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000001E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000022A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000272</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000028B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000028C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000028F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E00000299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000029D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E0000029F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000002A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000002A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000002A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000002AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>058462030584850E000002AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
