<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>core-test-t.es.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C563B965C566F3800000006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000000C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000019</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000001D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000024</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000002D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000003C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000004A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000004E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000055</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000005C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000060</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000067</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000006C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000006F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000076</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000007A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000008E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000015E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000167</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000016B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000016C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000017D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000017E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000182</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000018B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F380000018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F3800000196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C563B965C566F38000001F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
