<html>
    <body>
        <% 	
            let name = request.params.name || ""
            let address = request.params.address || ""

            if (request.method == "POST") {
                write("Form accepted. Name: " + name + ", Address: " + address)
            } else {
        %>
                <form name="details" method="post" action="form.ejs">
                    Name <input type="text" name="name" value="@@name">
                    Address <input type="text" name="address" value="@@address">
                    <input type="submit" name="submit" value="OK">
                </form>
        <% } %>
    </body>
</html>

